@import '../main';

header {
  display: flex;
  justify-content: center;
}

nav {

  @include effect-style-shadow-default;


  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-gray-50;
  color: $color-typography-default;
  width: 80%;
  height: 72px;
  margin-top: $margin-large;
  padding: 2.5vw 3vw;
  position: fixed;
  z-index: 1000;

  ul {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      display: inline-block;
      padding: 1rem 1rem;
      cursor: pointer;
      transition: 0.3s;

      .nav-item {
        color: $color-typography-default;
      }
    }
  }

  .site-title {
    font-weight: 600;
    text-decoration: none;
    color: $color-typography-default;
  }

  .icon {
    text-decoration: none;
    color: $color-typography-default;
    display: flex;
    width: 16px;
    height: 16px;
  }

  .nav-icon {
    text-decoration: none;
    color: $color-typography-default;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}