@import "./variable";


// Global Reset
html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
}

body {
  margin: 0;
  font: 100% $font-stack-body;
  background-color: $white;
  color: $black;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

p {
  margin: 0;
  font-size: 1rem;
}

// List Styles
ul,
ol {
  padding: 0;
  list-style: none;
}

// Hyperlink Styles
a {
  text-decoration: none;
}

// Remove underline from links within headings
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

// Remove outline from focused elements
*:focus {
  outline: none;
}

// Remove default form styles
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}