@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

// Font Family 

$font-stack: 'Familjen Grotesk',
sans-serif;
// $font-stack: 'Playfair Display',
// serif;


// Colors

$primary-color: #98633B;
$secondary-color: #5A3828;
$tertiary-color: #42291A;
$warning-color: #FF9D00;
$error-color: #FF5252;
$success-color: #5277FF;
$grey: #464646;
$white: #F5F5F5;
$black: #1A1A1A;
$transparent: transparent;